
<SfDialog Header="@HeaderString" Height="300px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget" Visible="false" Width="400px">
    <ChildContent>
        <SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
        <DialogPositionData X="right" Y="center"></DialogPositionData>
        <DialogAnimationSettings Effect="DialogEffect.SlideRight"></DialogAnimationSettings>
        <EditForm Model="@Model" OnValidSubmit="SaveAdminList">
            <DataAnnotationsValidator></DataAnnotationsValidator>
			<div class="divContainerTable">
				<TextBoxControl @bind-Value="@(Model.Text)" @bind-Value:event="ValueChanged" MaxLength="100" MinLength="1" ID="textText" Multiline="false" Placeholder="@Placeholder" Readonly="false"
								ValidationMessage="@(() => Model.Text)"/>
				<LabelSwitch @bind-BindValue="@(Model.IsEnabled)" ID="checkedEnabled" OffLabel="INACTIVE" OnLabel="ACTIVE" Placeholder="Status?"></LabelSwitch>
			</div>
            <div class="e-footer-content">
                <SfButton IconCss="saveButton" IconPosition="IconPosition.Left" IsPrimary="true" type="submit">Save</SfButton>
                <SfButton IconCss="closeButton" IconPosition="IconPosition.Left" OnClick="CancelAdminList" type="button">Cancel</SfButton>
            </div>
        </EditForm>
    </ChildContent>
</SfDialog>