@if (CreateDivTag)
{
	<div class="divFlex">
		<div class="divFlexLabel">
			<label class="labelStatus" for="@ID">@Placeholder:</label>
		</div>
		<div class="divFlexSmall">
			<SfTextBox CssClass="@CssClass" FloatLabelType="FloatLabelType.Never" HtmlAttributes="@(new Dictionary<string, object> { { "maxlength", MaxLength }, {"minlength", MinLength}, {"rows", Multiline ? Rows : 1} })"
					   ID="@ID" Multiline="@Multiline" Placeholder="@Placeholder" Readonly="@Readonly" @ref="Box" Type="@TextBoxType" ValidateOnInput="true" Value="@Value" ValueChanged="ValueChanged"
					   ValueExpression="@ValueExpression" Width="@Width">
			</SfTextBox>
		</div>
	</div>
}
else
{
	<SfTextBox CssClass="@CssClass" FloatLabelType="FloatLabelType.Never" HtmlAttributes="@(new Dictionary<string, object> { { "maxlength", MaxLength }, {"minlength", MinLength}, {"rows", Multiline ? Rows : 1} })"
			   ID="@ID" Multiline="@Multiline" Placeholder="@Placeholder" Readonly="@Readonly" @ref="Box" Type="@TextBoxType" ValidateOnInput="true" Value="@Value" ValueChanged="ValueChanged"
			   ValueExpression="@ValueExpression" Width="@Width">
	</SfTextBox>
}