<div class="divFlex">
	<div class="divFlexLabel">
		<label class="labelStatus" for="@ID">@Placeholder</label>
	</div>
	<div class="@(Multiline ? "divFlexBig" : "divFlexSmall")">
		<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
			<SfTextBox @bind-Value="@BindValue" FloatLabelType="FloatLabelType.Never" HtmlAttributes="@(new Dictionary<string, object> { { "maxlength", MaxLength }, {"minlength", MinLength}, {"rows", Multiline ? 3 : 1} })" ID="@ID" Multiline="@Multiline" Placeholder="@Placeholder" Readonly="@Readonly"></SfTextBox>
			<TooltipTemplates>
				<Content>
					<ValidationMessage For="@ValidationMessage"></ValidationMessage>
					@*@ValidationTemplate*@
				</Content>
			</TooltipTemplates>
		</SfTooltip>
	</div>
</div>