@if (CreateDivTag)
{
	<div class="divFlex">
		<div class="divFlexLabel">
			<label class="labelStatus" for="@ID">@Placeholder:</label>
		</div>
		<div class="divFlexSmall">
			@if (CreateTooltip)
			{
				<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
					<SfMaskedTextBox CssClass="@CssClass" FloatLabelType="FloatLabelType.Never" ID="@ID" Mask="@Mask" Placeholder="@Placeholder" Readonly="@Readonly" Value="@Value" ValueChanged="ValueChanged"
									 ValueExpression="@ValueExpression" Width="@Width">
					</SfMaskedTextBox>
					<TooltipTemplates>
						<Content>
							<ValidationMessage For="@ValidationMessage"></ValidationMessage>
						</Content>
					</TooltipTemplates>
				</SfTooltip>
			}
			else
			{
				<SfMaskedTextBox CssClass="@CssClass" FloatLabelType="FloatLabelType.Never" ID="@ID" Mask="@Mask" Placeholder="@Placeholder" Readonly="@Readonly" Value="@Value" ValueChanged="ValueChanged"
								 ValueExpression="@ValueExpression" Width="@Width">
				</SfMaskedTextBox>
			}
		</div>
	</div>
}
else
{
	@if (CreateTooltip)
	{
		<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
			<SfMaskedTextBox CssClass="@CssClass" FloatLabelType="FloatLabelType.Never" ID="@ID" Mask="@Mask" Placeholder="@Placeholder" Readonly="@Readonly" Value="@Value" ValueChanged="ValueChanged"
							 ValueExpression="@ValueExpression" Width="@Width">
			</SfMaskedTextBox>
			<TooltipTemplates>
				<Content>
					<ValidationMessage For="@ValidationMessage"></ValidationMessage>
				</Content>
			</TooltipTemplates>
		</SfTooltip>
	}
	else
	{
		<SfMaskedTextBox CssClass="@CssClass" FloatLabelType="FloatLabelType.Never" ID="@ID" Mask="@Mask" Placeholder="@Placeholder" Readonly="@Readonly" Value="@Value" ValueChanged="ValueChanged"
						 ValueExpression="@ValueExpression" Width="@Width">
		</SfMaskedTextBox>
	}
}