@typeparam TValue
@typeparam TItem
@if (CreateDivTag)
{
	<div class="divFlex">
		<div class="divFlexLabel">
			<label class="labelStatus" for="@ID">@(Placeholder.NullOrWhiteSpace() ? " " : Placeholder + ":")</label>
		</div>
		<div class="divFlexSmall">
			<SfDropDownList DataSource="@DataSource" ID="@ID" TItem="TItem" TValue="TValue" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
				<DropDownListEvents TItem="TItem" TValue="TValue" ValueChange="@DropDownValueChange" />
				<DropDownListFieldSettings Text="@TextField" Value="@ValueField" />
			</SfDropDownList>
		</div>
	</div>
}
else
{
	<SfDropDownList DataSource="@DataSource" ID="@ID" TItem="TItem" TValue="TValue" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
		<DropDownListEvents TItem="TItem" TValue="TValue" ValueChange="@DropDownValueChange" />
		<DropDownListFieldSettings Text="@TextField" Value="@ValueField" />
	</SfDropDownList>
}