@if (CreateDivTag)
{
	<div class="divFlex">
		<div class="divFlexLabel">
			<label class="labelStatus" for="@ID">@Placeholder:</label>
		</div>
		<div class="divFlexSmall">
			@if (CreateTooltip)
			{
				<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
					<SfDateTimePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never" Format="MM/dd/yyyy hh:mm" ID="@ID"
									  Max="@Max" Min="@Min" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateTimeBox" ShowClearButton="true" ShowTodayButton="true" TValue="DateTime" ValidateOnInput="true" 
									  Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width" OnFocus="DateTimePickerFocus" />
					<TooltipTemplates>
						<Content>
							<ValidationMessage For="@ValidationMessage" />
						</Content>
					</TooltipTemplates>
				</SfTooltip>
			}
			else
			{
				<SfDateTimePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never" Format="MM/dd/yyyy hh:mm" ID="@ID" 
								  Max="@Max" Min="@Min" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateTimeBox" ShowClearButton="true" ShowTodayButton="true" TValue="DateTime" ValidateOnInput="true" 
								  Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width" OnFocus="DateTimePickerFocus" />
			}
		</div>
	</div>
}
else
{
	@if (CreateTooltip)
	{
		<SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="@("#" + ID)" Width="100%" WindowCollision="true">
			<SfDateTimePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never" Format="MM/dd/yyyy hh:mm" ID="@ID"
							  Max="@Max" Min="@Min" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateTimeBox" ShowClearButton="true" ShowTodayButton="true" TValue="DateTime" ValidateOnInput="true" 
							  Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width" OnFocus="DateTimePickerFocus" />
			<TooltipTemplates>
				<Content>
					<ValidationMessage For="@ValidationMessage" />
				</Content>
			</TooltipTemplates>
		</SfTooltip>
	}
	else
	{
		<SfDateTimePicker CssClass="@CssClass" DayHeaderFormat="DayHeaderFormats.Abbreviated" Depth="CalendarView.Month" FirstDayOfWeek="1" FloatLabelType="FloatLabelType.Never" Format="MM/dd/yyyy hh:mm" ID="@ID"
						  Max="@Max" Min="@Min" Placeholder="@Placeholder" Readonly="@Readonly" @ref="DateTimeBox" ShowClearButton="true" ShowTodayButton="true" TValue="DateTime" ValidateOnInput="true" 
						  Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width" OnFocus="DateTimePickerFocus" />
	}
}