<SfDialog Header="Search Candidate" Height="98vh" IsModal="true" MinHeight="98vh" @ref="Dialog" Target="#divTarget" Visible="false" Width="800px">
    <ChildContent>
        <SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
        <DialogPositionData X="center" Y="center"></DialogPositionData>
        <DialogAnimationSettings Duration="500" Effect="DialogEffect.FadeZoom"></DialogAnimationSettings>
        <EditForm Model="ModelSearchObject" OnValidSubmit="SearchCandidateDialog">
            <DataAnnotationsValidator />
            <div class="divContainerTable">
                <TextBoxControl @bind-Value="@(ModelSearchObject.Code)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" ID="textCode" MaxLength="255" MinLength="0" Multiline="false"
                                Placeholder="Code" />
                <TextBoxControl @bind-Value="@(ModelSearchObject.Title)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" ID="textTitle" MaxLength="255" MinLength="0" Multiline="false"
                                Placeholder="Job Position / Title" />
                <div id="divCompany" class="divFlex">
                    <div class="divFlexLabel">
                        <label class="labelStatus">Company Name:</label>
                    </div>
                    <div class="divFlexSmall">
                        <AutoCompleteButton @bind-Value="@(ModelSearchObject.Company)" @bind-Value:event="ValueChanged" EnablePersistence="false" ID="autoCompany" PlaceholderText="Select a Company"
                                            @ref="AutoCompleteControl" Ref="AutoCompleteCityZip" TypeInstance="@typeof(CandidateCityZipAdaptor)" ModelValue="false" />
                    </div>
                </div>
                <DropDownControl @bind-Value="@ModelSearchObject.Option" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@JobOption" ID="dropJobOption" Placeholder="Job Option" TextField="Value"
                                 TItem="KeyValues" TValue="string" ValueField="Key" Width="75%" />
				<MultiSelectControl @bind-Value="@(ModelSearchObject.Status)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" DataSource="StatusDropDown" FilterBarPlaceholder="Search Status&hellip;"
									ID="multiState" KeyField="Key" Placeholder="Select State(s)" TItem="KeyValues" TValue="string" ValueField="Value" />
				<DropDownControl @bind-Value="@ModelSearchObject.CreatedBy" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@ShowRequisitions" ID="dropCreatedBy" Placeholder="Show Requisitions:" 
								 TextField="Value" TItem="KeyValues" TValue="string" ValueField="Key" Width="125px" />
                <div id="divCretedOn" class="divFlex">
                    <div class="divFlexLabel">
                        <label class="labelStatus">Requisition Created Date Between:</label>
                    </div>
					<div style="display: flex; width: 100%">
						<div class="divFlexSmall" style="width: 45%;">
							<DateControl @bind-Value="@ModelSearchObject.CreatedOn" @bind-Value:event="ValueChanged" CreateTooltip="false" CreateDivTag="false" ID="dateCreatedStart" Max="@(DateTime.Today.AddMonths(6))"
										 Min="@(DateTime.Today.AddMonths(-3))" Placeholder="Created Date Start" Width="220px" OnChange="CreatedOnSelect" />
						</div>
						<div class="divFlexSmall" style="margin-left: 3%; width: 45%;">
							<DateControl @bind-Value="@ModelSearchObject.CreatedOnEnd" @bind-Value:event="ValueChanged" CreateDivTag="false" CreateTooltip="false" ID="dateCreatedEnd" Max="@(DateTime.Today.AddMonths(6))"
										 Min="@(DateTime.Today.AddMonths(-3))" Placeholder="Created Date End" Width="220px" @ref="CreatedMax" />
						</div>
					</div>
                </div>
                <div id="divDueOn" class="divFlex">
                    <div class="divFlexLabel">
                        <label class="labelStatus">Requisition Due Date Between:</label>
                    </div>
                    <div style="display: flex; width: 100%">
                        <div class="divFlexSmall" style="width: 45%;">
                            <DateControl @bind-Value="@ModelSearchObject.Due" @bind-Value:event="ValueChanged" CreateTooltip="false" CreateDivTag="false" ID="dateDueStart" Max="@(DateTime.Today.AddMonths(6))"
                                         Min="@(DateTime.Today.AddMonths(-3))" Placeholder="Due Date Start" Width="220px" OnChange="DueOnSelect" />
                        </div>
                        <div class="divFlexSmall" style="margin-left: 3%; width: 45%;">
                            <DateControl @bind-Value="@ModelSearchObject.DueEnd" @bind-Value:event="ValueChanged" CreateDivTag="false" CreateTooltip="false" ID="dateDueEnd" Max="@(DateTime.Today.AddMonths(6))"
                                         Min="@(DateTime.Today.AddMonths(-3))" Placeholder="Due Date End" Width="220px" @ref="DueMax" />
                        </div>
                    </div>
                </div>
            </div>
            <DialogFooter CancelMethod="CancelSearchDialog" @ref="DialogFooter" />
        </EditForm>
    </ChildContent>
</SfDialog>