<SfDialog Header="Edit Candidate" Height="98vh" IsModal="true" MinHeight="98vh" @ref="Dialog" Target="#divTarget" Visible="false" Width="832px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
		<DialogPositionData X="right" Y="center" />
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight" />
		<EditForm Model="ModelObject" OnValidSubmit="SaveRequisitionDialog">
			<DataAnnotationsValidator />
			<div style="height: 100%">
				<div class="divContainerTable">
					<div class="divFlex">
						<div class="divFlexLabel">
							<label class="labelStatus" for="dropCompany">Company Name</label>
						</div>
						<div class="divFlexSmall" style="display: flex;">
							<div>
								<LabelDropDown @bind-Value="@ModelObject.CompanyName" @bind-Value:event="ValueChanged" DataSource="Companies" ID="dropCompany" TextField="Value"
											   TItem="KeyValues" TValue="string" ValueField="Key" />@*DropDownValueChange="StateIDChanged" *@
							</div>
						</div>
					</div>
					<div class="divFlex">
						<div class="divFlexLabel">
							<label class="labelStatus" for="dropCompanyContact">Contact Name</label>
						</div>
						<div class="divFlexSmall" style="display: flex;">
							<div>
								<LabelDropDown @bind-Value="@ModelObject.ContactName" @bind-Value:event="ValueChanged" DataSource="Companies" ID="dropCompanyContact" TextField="Value"
											   TItem="KeyValues" TValue="string" ValueField="Key" />@*DropDownValueChange="StateIDChanged" *@
							</div>
						</div>
					</div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 35%">
                                <label class="labelStatus" for="textCity">City:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 3%; width: 35%;">
                                <label class="labelStatus" for="dropState">State:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 3%; width: 24%;">
                                <label class="labelStatus" for="textZip">Zip Code:</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 35%">
                                <LabelTextBox @bind-Value="@(ModelObject.City)" @bind-Value:event="ValueChanged" CreateDivTag="false" ID="textCity" MaxLength="50"
                                              MinLength="1" Placeholder="City" ValidationMessage="@(() => ModelObject.City)" Width="100%" />
                            </div>
                            <div class="divFlexSmall" style="margin-left: 3%; width: 35%;">
                                <LabelDropDown @bind-Value="@ModelObject.StateID" @bind-Value:event="ValueChanged" DataSource="States" DropDownValueChange="StateIDChanged" ID="dropState" TextField="Value"
                                               TItem="IntValues" TValue="int" ValueField="Key" />
                            </div>
                            <div class="divFlexSmall" style="margin-left: 3%; width: 24%;">
                                <LabelMaskedTextBox @bind-Value="@(ModelObject.ZipCode)" @bind-Value:event="ValueChanged" ID="textZip" Mask="00000-0000" Placeholder="Zip Code"
                                                    ValidationMessage="@(() => ModelObject.ZipCode)" />
                            </div>
                        </div>
                    </div>
					<LabelTextBox @bind-Value="@(ModelObject.Title)" @bind-Value:event="ValueChanged" CreateDivTag="true" ID="textTitle" MaxLength="200" MinLength="1" Placeholder="Position Title / Role" 
								  ValidationMessage="@(() => ModelObject.Title)" Width="100%" />
					<LabelTextBox @bind-Value="@(ModelObject.Description)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" Height="100px" ID="textPositionDescription"
								  MaxLength="32767" Multiline="true" Placeholder="Position Description" Width="100%" Rows="3" />
					<LabelTextBox @bind-Value="@(ModelObject.Mandatory)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="true" Height="100px" ID="textMandatory"
								  MaxLength="8000" Multiline="true" Placeholder="Mandatory Requirements" Width="100%" Rows="3" />
					<LabelTextBox @bind-Value="@(ModelObject.Optional)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" Height="100px" ID="textOptional"
								  MaxLength="8000" Multiline="true" Placeholder="Optional Requirements" Width="100%" Rows="3" />
				</div>
			</div>
			<DialogFooter CancelMethod="CancelDialog" />
		</EditForm>
	</ChildContent>
</SfDialog>