@using FilterType = Syncfusion.Blazor.DropDowns.FilterType
<SfDialog @bind-Visible="VisibleCandidate" Header="Edit Candidate" Height="98vh" IsModal="true" MinHeight="98vh" Target="#divTarget" Width="832px">
    <ChildContent>
        <SfSpinner @bind-Visible="@SpinnerVisible" CssClass="spinnerHeight" Type="SpinnerType.Fabric" ZIndex="12000" />
        <DialogPositionData X="right" Y="center"></DialogPositionData>
        <DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"></DialogAnimationSettings>
        <DialogEvents Closed="CancelCandidate"></DialogEvents>
        <EditForm Model="ModelObject" OnValidSubmit="SaveCandidate">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div style="height: 100%">
                <div class="divContainerTable">
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textFirst">First Name</label>
                            <label class="labelStatus" for="textMiddle"> / Middle Initial</label>
                            <label class="labelStatus" for="textLast"> / Last Name:</label>
                        </div>
                        <div class="divFlexSmall" style="display: flex;">
                            <div style="width: 38%">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textFirst" Width="100%" WindowCollision="true">
                                    <SfTextBox @bind-Value="@(ModelObject.FirstName)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes" ID="textFirst" Multiline="false" Placeholder="First Name">
                                    </SfTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.FirstName)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                            <div style="margin-left: 3%; width: 18%;">
                                <SfTextBox @bind-Value="@(ModelObject.MiddleName)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes" ID="textMiddle" Multiline="false" Placeholder="Middle Initial">
                                </SfTextBox>
                            </div>
                            <div style="margin-left: 3%; width: 38%;">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textLast" Width="100%" WindowCollision="true">
                                    <SfTextBox @bind-Value="@(ModelObject.LastName)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes" ID="textLast" Multiline="false" Placeholder="Last Name">
                                    </SfTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.LastName)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex" style="height: 100px">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textAddress1">Address:</label>
                        </div>
                        <div class="divFlexSmall" style="height: 68px;">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textAddress1" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.Address1)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes" ID="textAddress1" Multiline="false" Placeholder="Address">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.Address1)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                            <div style="margin-top: 4px;">
                                <SfTextBox @bind-Value="@(ModelObject.Address2)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes" ID="textAddress2" Multiline="false" Placeholder="Address">
                                </SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 35%">
                                <label class="labelStatus" for="textCity">City:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 3%; width: 35%;">
                                <label class="labelStatus" for="dropState">State:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 3%; width: 24%;">
                                <label class="labelStatus" for="textZip">Zip Code:</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 35%">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textCity" Width="100%" WindowCollision="true">
                                    <SfTextBox @bind-Value="@(ModelObject.City)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes" ID="textCity" Multiline="false" Placeholder="City">
                                    </SfTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.City)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 3%; width: 35%;">
                                <SfDropDownList @bind-Value="@ModelObject.StateID" DataSource="States" ID="dropState" TItem="IntValues" TValue="int">
                                    <DropDownListEvents TItem="IntValues" TValue="int" ValueChange="StateIDChanged"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 3%; width: 24%;">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textZip" Width="100%" WindowCollision="true">
                                    <SfMaskedTextBox @bind-Value="@ModelObject.ZipCode" FloatLabelType="FloatLabelType.Never" ID="textZip" Mask="00000-0000" Placeholder="Zip Code"></SfMaskedTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.ZipCode)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textEmail">Email Address:</label>
                        </div>
                        <div class="divFlexSmall">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textEmail" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.Email)" FloatLabelType="FloatLabelType.Never" ID="textEmail" Multiline="false" Placeholder="Email Address">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.Email)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 48%">
                                <label class="labelStatus" for="textPhone1">Cell Phone:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 4%; width: 48%;">
                                <label class="labelStatus" for="textPhone2">Alternate Phone:</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 48%">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textPhone1" Width="100%" WindowCollision="true">
                                    <SfMaskedTextBox @bind-Value="@ModelObject.Phone1" FloatLabelType="FloatLabelType.Never" ID="textPhone1" Mask="(000) 000-0000" Placeholder="Cell Phone"></SfMaskedTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.Phone1)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 4%; width: 48%;">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textPhone2" Width="100%" WindowCollision="true">
                                    <SfMaskedTextBox @bind-Value="@ModelObject.Phone2" FloatLabelType="FloatLabelType.Never" ID="textPhone2" Mask="(000) 000-0000" Placeholder="Alternate Phone"></SfMaskedTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.Phone2)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textTitle">Title:</label>
                        </div>
                        <div class="divFlexSmall">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textTitle" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.Title)" FloatLabelType="FloatLabelType.Never" ID="textTitle" Multiline="false" Placeholder="Title">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.Title)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textKeywords">Primary Skills / Keywords:</label>
                        </div>
                        <div class="divFlexBig" style="height: 100px">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textKeywords" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.Keywords)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes1" ID="textKeywords" Multiline="true" Placeholder="Primary Skills / Keywords">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.Keywords)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textSummary">Summary:</label>
                        </div>
                        <div class="divFlexBig" style="height: 100px">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textSummary" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.Summary)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="HtmlAttributes1" ID="textSummary" Multiline="true" Placeholder="Summary">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.Summary)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 48%">
                                <label class="labelStatus" for="numericHourlyLow">Hourly Rate Min. / Max. ($):</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 4%; width: 48%;">
                                <label class="labelStatus" for="numericSalaryLow">Salary Min. / Max. ($):</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 23%">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#numericHourlyLow" Width="100%" WindowCollision="true">
                                    <SfNumericTextBox @bind-Value="@(ModelObject.HourlyRate)" Currency="USD" Decimals="2" Format="c2" ID="numericHourlyLow" Max="2000" Min="0" Placeholder="Hourly Rate (Min.)" ShowSpinButton="false" TValue="decimal" ValidateDecimalOnType="true">
                                    </SfNumericTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.HourlyRate)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 2%; width: 23%;">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#numericHourlyHigh" Width="100%" WindowCollision="true">
                                    <SfNumericTextBox @bind-Value="@(ModelObject.HourlyRateHigh)" Currency="USD" Decimals="2" Format="c2" ID="numericHourlyHigh" Max="2000" Min="0" ShowSpinButton="false" TValue="decimal" ValidateDecimalOnType="true">
                                    </SfNumericTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.HourlyRateHigh)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 4%; width: 23%;">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#numericSalaryLow" Width="100%" WindowCollision="true">
                                    <SfNumericTextBox @bind-Value="@(ModelObject.SalaryLow)" Currency="USD" Decimals="2" Format="c2" ID="numericSalaryLow" Max="1000000" Min="0" Placeholder="Salary (Min.)" ShowSpinButton="false" TValue="decimal" ValidateDecimalOnType="true">
                                    </SfNumericTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.SalaryLow)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 2%; width: 23%;">
                                <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#numericSalaryHigh" Width="100%" WindowCollision="true">
                                    <SfNumericTextBox @bind-Value="@(ModelObject.SalaryHigh)" Currency="USD" Decimals="2" Format="c2" ID="numericSalaryHigh" Max="1000000" Min="0" Placeholder="Salary (Max.)" ShowSpinButton="false" TValue="decimal" ValidateDecimalOnType="true">
                                    </SfNumericTextBox>
                                    <TooltipTemplates>
                                        <Content>
                                            <ValidationMessage For="@(() => ModelObject.SalaryHigh)"></ValidationMessage>
                                        </Content>
                                    </TooltipTemplates>
                                </SfTooltip>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 32%">
                                <label class="labelStatus" for="dropEligibility">Eligibility:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 2%; width: 32%;">
                                <label class="labelStatus" for="dropExperience">Experience:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 2%; width: 32%;">
                                <label class="labelStatus" for="dropCommunication">Communication:</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 32%">
                                <SfDropDownList @bind-Value="@ModelObject.EligibilityID" DataSource="@Eligibility" ID="dropEligibility" TItem="IntValues" TValue="int">
                                    <DropDownListEvents TItem="IntValues" TValue="int"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 2%; width: 32%;">
                                <SfDropDownList @bind-Value="@ModelObject.ExperienceID" DataSource="@Experience" ID="dropExperience" TItem="IntValues" TValue="int">
                                    <DropDownListEvents TItem="IntValues" TValue="int"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 2%; width: 32%;">
                                <SfDropDownList @bind-Value="@ModelObject.Communication" DataSource="@Communication" ID="dropCommunication" TItem="KeyValues" TValue="string">
                                    <DropDownListEvents TItem="KeyValues" TValue="string"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Value" Value="Key"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex" style="height: 108px">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="multiTaxTerms">Tax Terms:</label>
                        </div>
                        <div class="divFlexSmall" id="divMultiTaxTerm">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#multiTaxTerms" Width="100%" WindowCollision="true">
                                <SfMultiSelect AllowFiltering="true" @bind-Value="@(ModelObject.TaxTerm)" DataSource="TaxTerms" FilterBarPlaceholder="Search Tax Term&hellip;" FilterType="FilterType.Contains" ID="multiTaxTerms" Mode="VisualMode.Box" Placeholder="Select Tax Terms(s)" TItem="KeyValues" TValue="string">
                                    <MultiSelectFieldSettings Text="Value" Value="Key"></MultiSelectFieldSettings>
                                    <MultiSelectEvents TItem="KeyValues" TValue="string"></MultiSelectEvents>
                                </SfMultiSelect>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.TaxTerm)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex" style="height: 146px">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="multiJobOptions">Job Options:</label>
                        </div>
                        <div class="divFlexSmall" id="divMultiJobOption">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#multiJobOptions" Width="100%" WindowCollision="true">
                                <SfMultiSelect AllowFiltering="true" @bind-Value="@(ModelObject.JobOptions)" DataSource="JobOptions" FilterBarPlaceholder="Search Job Option&hellip;" FilterType="FilterType.Contains" ID="multiJobOptions" Mode="VisualMode.Box" Placeholder="Select Job Option(s)" TItem="KeyValues" TValue="string">
                                    <MultiSelectFieldSettings Text="Value" Value="Key"></MultiSelectFieldSettings>
                                </SfMultiSelect>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.JobOptions)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 48%">
                                <label class="labelStatus" for="textLinkedIn">LinkedIn:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 4%; width: 48%;">
                                <label class="labelStatus" for="textFacebook">Facebook:</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 48%">
                                <SfTextBox @bind-Value="@(ModelObject.LinkedIn)" FloatLabelType="FloatLabelType.Never" ID="textLinkedIn" Multiline="false" Placeholder="LinkedIn">
                                </SfTextBox>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 4%; width: 48%;">
                                <SfTextBox @bind-Value="@(ModelObject.Facebook)" FloatLabelType="FloatLabelType.Never" ID="textFacebook" Multiline="false" Placeholder="Facebook">
                                </SfTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div style="display: flex; width: 100%">
                            <div class="divFlexLabel" style="width: 48%">
                                <label class="labelStatus" for="textTwitter">Twitter:</label>
                            </div>
                            <div class="divFlexLabel" style="margin-left: 4%; width: 48%;">
                                <label class="labelStatus" for="textGoogle">Google:</label>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div class="divFlexSmall" style="width: 48%">
                                <SfTextBox @bind-Value="@(ModelObject.Twitter)" FloatLabelType="FloatLabelType.Never" ID="textTwitter" Multiline="false" Placeholder="Twitter">
                                </SfTextBox>
                            </div>
                            <div class="divFlexSmall" style="margin-left: 4%; width: 48%;">
                                <SfTextBox @bind-Value="@(ModelObject.GooglePlus)" FloatLabelType="FloatLabelType.Never" ID="textGoogle" Multiline="false" Placeholder="Google">
                                </SfTextBox>
                            </div>
                        </div>
                    </div>
                    <LabelSwitch @bind-BindValue="@(ModelObject.Relocate)" ID="checkedRelocate" OffLabel="NO" OnLabel="YES" Placeholder="Willing to Relocate?"></LabelSwitch>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textRelocationNotes">Relocation Notes:</label>
                        </div>
                        <div class="divFlexSmall">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textRelocationNotes" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.RelocationNotes)" FloatLabelType="FloatLabelType.Never" ID="textRelocationNotes" Multiline="false" Placeholder="Relocation Notes">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.RelocationNotes)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <LabelSwitch @bind-BindValue="@(ModelObject.Background)" ID="checkedEnabled" OffLabel="NO" OnLabel="YES" Placeholder="Security Clearance?"></LabelSwitch>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textSecurityNotes">Security Notes:</label>
                        </div>
                        <div class="divFlexSmall">
                            <SfTooltip CloseDelay="0" OnOpen="ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textSecurityNotes" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.SecurityNotes)" FloatLabelType="FloatLabelType.Never" ID="textSecurityNotes" Multiline="false" Placeholder="Security Notes">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.SecurityNotes)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="richTextResume">Text Resume:</label>
                        </div>
                        <div class="divFlexBig">
                            <SfRichTextEditor @bind-Value="ModelObject.TextResume" Height="400px" ID="richTextResume">
                                <RichTextEditorToolbarSettings Items="Tools" />
                            </SfRichTextEditor>
                        </div>
                    </div>
                </div>
            </div>
            <div class="e-footer-content">
                <SfButton IconCss="saveButton" IconPosition="IconPosition.Left" IsPrimary="true" type="submit">Save</SfButton>
                <SfButton IconCss="closeButton" IconPosition="IconPosition.Left" OnClick="CancelCandidate" type="button">Cancel</SfButton>
            </div>
        </EditForm>
    </ChildContent>
</SfDialog>