<SfDialog @bind-Visible="@VisibleMPCCandidate" Header="Edit M.P.C." Height="590px" IsModal="true" MinHeight="300px" Target="#divTarget" Width="600px">
    <ChildContent>
        <DialogPositionData X="right" Y="center"></DialogPositionData>
        <DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"></DialogAnimationSettings>
        <DialogEvents Closed="CancelMPC"></DialogEvents>
        <EditForm Model="ModelObject" OnValidSubmit="SaveMPC">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div style="height: 100%">
                <div class="divContainerTable">
                    <div style="width: 100%">
                        <SfGrid AllowPaging="false" DataSource="@GridObject" EnableHeaderFocus="true" EnableHover="true" Height="215px" ID="gridMPC" RowHeight="@RowHeight" SelectedRowIndex="0" TValue="CandidateMPC" Width="99%">
                            <GridSelectionSettings EnableToggle="false" Mode="SelectionMode.Row" PersistSelection="true" Type="SelectionType.Single"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field="@nameof(CandidateMPC.Date)" HeaderText="Date" Width="20%"></GridColumn>
                                <GridColumn Field="@nameof(CandidateMPC.User)" HeaderText="User" IsPrimaryKey="true" Visible="false" Width="0"></GridColumn>
                                <GridColumn Field="@nameof(CandidateMPC.MPC)" HeaderText="M.P.C." Width="20%"></GridColumn>
                                <GridColumn Field="@nameof(CandidateMPC.Comments)" HeaderText="Comments" Width="20%"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="radzenMPC">MPC:</label>
                        </div>
                        <div class="divFlexSmall">
                            <LabelSwitch @bind-BindValue="@(@ModelObject.MPC)" ID="checkedEnabled" OffLabel="NO" OnLabel="YES" Placeholder="M.P.C.?"></LabelSwitch>
                        </div>
                    </div>
                    <div class="divFlex">
                        <div class="divFlexLabel">
                            <label class="labelStatus" for="textComments">Comments:</label>
                        </div>
                        <div class="divFlexBig" style="height: 100px">
                            <SfTooltip CloseDelay="0" OnOpen="@ToolTipOpen" OpenDelay="0" OpensOn="Hover" Position="Position.TopCenter" Target="#textComments" Width="100%" WindowCollision="true">
                                <SfTextBox @bind-Value="@(ModelObject.MPCComments)" FloatLabelType="FloatLabelType.Never" HtmlAttributes="@HtmlAttributes1" ID="textComments" Multiline="true" Placeholder="Comments">
                                </SfTextBox>
                                <TooltipTemplates>
                                    <Content>
                                        <ValidationMessage For="@(() => ModelObject.MPCComments)"></ValidationMessage>
                                    </Content>
                                </TooltipTemplates>
                            </SfTooltip>
                        </div>
                    </div>
                </div>
            </div>
            <div class="e-footer-content">
                <SfButton IconCss="saveButton" IconPosition="IconPosition.Left" IsPrimary="true" type="submit">Save</SfButton>
                <SfButton IconCss="closeButton" IconPosition="IconPosition.Left" OnClick="CancelMPC" type="button">Cancel</SfButton>
            </div>
        </EditForm>
    </ChildContent>
</SfDialog>